#bgImageLog {
    padding: 0;
    background-image: url("../images/3340176.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-size: 20px;
}

header {
    width: 100%;
    border: solid black 2px;
    border-radius: 30px;
    text-align: center;
}

footer {
    width: 100%;
    border: solid black 2px;
    border-radius: 30px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

ul li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
}

#logBox {
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border: solid 2px black;
    background-color: rgba(0,0,0, 0.2);
    width: 30%;
}

#lastBox {
    margin-bottom: 15px;
}

#itemIn {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

#item {
    background-color: rgb(96, 101, 105);
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 350px;
}

.itemImg {
    width: 300px;
    height: 200px;
}