@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');


#usrnm {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	margin: 5px;
}

#usrnm a {
	text-decoration: none;
	color: black;
	padding: 3px;
	border-radius: 3px;
	background-color: #D3D3D3;
}

.trial
{
    border: 1px solid #ccc;
    border-width: 2px;
    list-style: none;
    margin: 0;
    padding:0;
    text-align: center;
    border-radius: 35px;
}
.trial li{
    display: inline;
}
.trial a{
display: inline-block;
padding: 10px;
}
.heroes{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../static/images/bike_wallpaper.jpg);
height: 500px;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.heroes_txt
{
text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: larger;

}
.test
{
    display: flex;
	flex-direction: row;
	margin-right: 20%;
}
.tired
{
	height: 370px;
	width: 60%;
}

.sword
{
    border: 2px solid black;
	border-radius: 35px;
	background-color: white;
	border-collapse: separate;
	border-spacing: 10px;
	margin-bottom: 35px;
	display: flex;
	gap: 2vh;
	flex: 50%;
	flex-flow: wrap;
	width: 45%;
	height: 45%;
	margin-left: auto;
	margin-right: auto;
	margin: 10px;
}

.lance
{
	margin-left: auto;
	margin-right: auto;
    display: flex;
	gap: 0.5vh;
	flex: 50%;
	flex-flow: column wrap;
	align-items: center;
	width: 75%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.practise
{
    border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
    border-radius: 16px;
}
.knight_armour
{
	float: left;
	width: 25%;
	padding: 0 -5px;
	text-align: center;
}
.knight_shield
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.5);
	padding: 16px;
	margin-left: 8px;
	
}
.the_heroes
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Bike_Background.jpg);
height: 500px;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
color: white;
font-size: larger;
}
footer{
	background-color: black;
	color: white;
}
ion-icon{
font-size: 30px;
}
body, html{
    font-family: 'Lora', serif;
   height: 100%; 
}


.contaner{
	width:	80%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: row;
}

form {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

button {
	padding: 20px;
	margin: 20px;
}