@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

.trial
{
    list-style: none;
    margin: 0;
    padding:0;
    text-align: center;
	display: flex;
	justify-content: center;
}

.trial a
{
padding: 10px;
margin: 0px 3px;
text-decoration: none;
font-size: 20px;
color: black;
}
.trial a:hover
{
color: #191919;
border-bottom: 1px solid black;
}
.heroes
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../static/images/bike_shop_demo.jpg);
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.heroes_txt
    {
    text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: larger;
    }
    .fall
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sword
    {
        border: 2px solid black;
        border-radius: 35px;
        background-color: white;
        border-collapse: separate;
        border-spacing: 10px;
        padding-top: 2vh;
        margin-bottom: 35px;
        display: flex;
        flex: 50%;
        width: 100%;
        height: 45%;
        margin-left: auto;
        margin-right: auto;
    }
    .lance
    {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 0.5vh;
        flex: 50%;
        flex-flow: column wrap;
        align-items: center;
        width: 75%;
        height: 100%;
    }
    .practise
    {
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }
.tired
{
    height: 450px;
	width: 675px;
}
footer{
	background-color: black;
	color: white;
}
body, html
{
    font-family: 'Lora', serif;
}
