<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Main_Page.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <center>
        <img src="../static/images/Harajuku_Final.jpeg" height="300px", width="750">
        </center>
        <br>
        <header>
            <ul class = "trial">
                <li><a href=''>Home</a></li>
                <li><a href="purchase">Prebuilt</a></li>
                <li><a href="parts">Parts</a></li>
                <li><a href="customize">Customise</a></li>
            </ul>
            <br>
        <div class = "heroes">
        <div class = "heroes_txt">
        <h1>Admin Page</h1>
        </div>
        </div>
        <br>
        <div class = "fall">
        <div class = "sword">
        <div class = "lance">
        <h3>Wheel Set #1</h3>
        <br>
        <img src="../static/images/new_wheels.jpg" class ="tired">
        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
        <br>
    </div>
</div>
        <br>
        <div class = "sword">
            <div class = "lance">
        <h3>Wheel Set #2</h3>
        <br>
        <img src="../static/images/Elite_Wheels.jpg" class ="tired">
        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
        <br>
    </div>
</div>
<br>
<div class = "sword">
    <div class = "lance">
        <h3>Wheel Set #3</h3>
        <br>
        <img src="../static/images/pro_bike_wheels.jpg" class ="tired">
        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
        <br>
    </div>
    </div>
    </div>
    <br>
        <br>
        <div class = "fall">
        <div class = "sword">
            <div class = "lance">
        <h3>Handlebar #1</h3>
        <br>
        <img src="../static/images/first_bike_handlebar.jpg" class ="tired">
        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
        <br>
        </div>
        </div>
        <br>
        <div class = "sword">
        <div class = "lance">
        <h3>Handlebar #2</h3>
        <br>
        <img src="../static/images/second_bike_handlebar.jpg" class ="tired">
        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
        <br>
        </div>
        </div>
        <br>
        <div class = "sword">
            <div class = "lance">
        <h3>Handlebar #3</h3>
        <br>
        <img src="../static/images/final_bike_handlebar.jpg"class = "tired">
        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
        <br>
        </div>
        </div>
    </div>
    </div>
    <br>
    <div>
        <br>
        <div class = "fall">
            <div class = "sword">
                <div class = "lance">
        <h3>Frame #1</h3>
        <br>
        <img src="../static/images/the_first_bike_frame.jpg" class ="tired">
        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
        <br>
        </div>
        </div>
        <div class = "sword">
        <div class = "lance">
        <h3>Frame #2</h3>
        <br>
        <img src="../static/images/final_bike_frame.jpg" class ="tired">
        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
        <br>
        </div>
        </div>
        <br>
        <div class = "sword">
            <div class = "lance">
        <h3>Frame #3</h3>
        <br>
        <img src="../static/images/first_bike_frames.jpg" class ="tired">
        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
        <br>
        </div>
        </div>
    </div>
        <div class="fall">
            <div class = 'sword'>
                <div class = 'lance'>
                    <h3>The Reid Bike</h3>
                    <img src="../static/images/reid_bike.png" class = 'tired'>
                    <br>
                    <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
                    <br>
                </div>
                <br>
            </div>
                <div class = 'sword'>
                    <div class = 'lance'>
                        <h3>Schwinn Spring Bike #1</h3>
                        <img src="../static/images/new_bicycle.jpg" class = "tired">
                        <br>
                        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
                        <br>
                    </div>
                </div>
                </div>
                <div>
                </div>
                <br>
                <div class="fall">
                <div class = 'sword'>
                    <div class = 'lance'>
                        <h3>Peak Design Bike #1</h3>
                        <img src="../static/images/peak_design_custom.jpg" class = 'tired'>
                        <br>
                        <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
                        <br>
                    </div>
                    <br>
                </div>
                    <div class = 'sword'>
                        <div class = 'lance'>
                            <h3>The Moto Bike</h3>
                            <img src="../static/images/Vacay_Electric_Bike.png" class = "tired">
                            <br>
                            <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
                            <br>
                        </div>
                    </div>
                    </div>
                    <div>
                    </div>
                    <br>
                    <div class="fall">
                    <div class = 'sword'>
                        <div class = 'lance'>
                            <h3>Schwinn Bike #1</h3>
                            <img src="../static/images/schwinn_bike.jpg" class = 'tired'>
                            <br>
                            <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
                            <br>
                        </div>
                        <br>
                    </div>
                        <div class = 'sword'>
                            <div class = 'lance'>
                                <h3>Transition Bike #1</h3>
                                <img src="../static/images/BikeButton_Spire_2021XT.png" class = "tired">
                                <br>
                                <p><button class="add" name="add">Add</button>/<button class="del" name="del">Delete</button></p>
                                <br>
                            </div>
                        </div>
        </div>
</body>
</html>