@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

body {
    background-color: aqua;
    background-image: url(../wallpapersden.com_cool-4k-pattern_3840x2160.jpg);
    background-size: cover;
}

p {
    font-size: 30px;
}

#logBox {
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: white;
    border-radius: 35px;
    border: solid 2px black;
    width: 30%;
    font-family: 'Lora', serif;
}

#lastBox {
    margin-bottom: 15px;
}
.Hero{
    border: 2px 4px;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
    border-radius: 16px;
}