@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

.trial
{
    border: 1px solid #ccc;
    border-width: 2px;
    list-style: none;
    margin: 0;
    padding:0;
    text-align: center;
    border-radius: 35px;
}
.trial li{
    display: inline;
}
.trial a{
display: inline-block;
padding: 10px;
}
.heroes{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../bike_wallpaper.jpg);
height: 500px;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.heroes_txt
{
text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: larger;

}
.test
{
    display: flex;
	flex-direction: row;
	justify-content: space-evenly
}
.tired
{
	object-fit: cover;
	height: 370px;
	width: 575px;
}
.sword
{
    border: 2px solid black;
	border-radius: 35px;
	background-color: white;
	border-collapse: separate;
	border-spacing: 10px;
	padding-top: 2vh;
	margin-bottom: 35px;

	display: block;
	justify-content: start;
	gap: 2vh;
	flex-flow: column nowrap;
	align-items: center;
	width: 45%;
	height: 45%;
}
.lance
{
    display: flex;
	justify-content: start;
	gap: 0.5vh;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	height: 100%;
}
.practise
{
    border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
    border-radius: 16px;
}
body, html{
    font-family: 'Lora', serif;
   height: 100%; 
}
