<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Main_Page.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main-Page</title>
</head>
<body>
    <center>
    <img src="../static/images/Harajuku_Final.jpeg" height="300px", width="750">
    </center>
    <br>
    <header>
        <ul class = "trial">
            <li><a href="/">Home</a></li>
            <li><a href="/purchase">Purchase</a></li>
            <li><a href="/parts">Parts</a></li>
            <li><a href="/customize">Customise</a></li>
        </ul>
        <br>
    <div class = "heroes">
    <div class = "heroes_txt">
    <h1>Welcome to the Harajuku Bike Shop!</h1>
    <h3>Founded in 2022 by Aaron Work, Justice Kipp, and Brian Sanvicente</h3>
    </div>
    </div>
    <br>
    <div>
        <center>
            <h1>New Arrivals</h1>
        </center>
    </div>
    <br>
    <div class = 'test'>
        <div class = 'sword'>
            <div class = 'lance'>
                <h4>Peak Design Bike #1</h4>
                <img src="../static/images/peak_design_custom.jpg" class = 'tired'>
                <br>
                <h3><em>Exclusive to our store</em></h3>
                <ul>
                    <li>Titanium grip handlebars</li>
                    <li>5 year warranty</li>
                    <li>Carbon Fibre Frame</li>
                </ul>
                <h4>£1099.95</h4>
                <button class = 'practise' name = 'bike' value = 'Buy Custom Bike #5'>Buy Now</button>
                <br>
            </div>
            <br>
        </div>
            <div class = 'sword'>
                <div class = 'lance'>
                    <h3>Custom Bike #5</h3>
                    <img src="../static/images/new_bicycle.jpg" class = "tired">
                    <br>
                    <h3><em>Exclusive to our store</em></h3>
                    <ul>
                        <li>Leather grip handlebars</li>
                        <li>2 year warranty</li>
                        <li>Stainless Steel Frame</li>
                    </ul>
                    <h4>£899.95</h4>
                    <button class = 'practise' name = 'bike' value = 'Buy Custom Bike #5'>Buy Now</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
   <br>
   <br>
   <div class = "the_heroes">
       <br>
    <center><h1>Customer Reviews</h1></center>
    <br>
    <div class = "knight">
    <div class = "knight_armour">
    <div class = "knight_shield">
    <h3>"The Harajuku Bike Shop has the best prices for bicycles and parts! They even have store exclusive bikes!"</h3>
    <h4>★★★★★</h4>
    <h4>- John Doe</h4>
    </div>
    </div>
    </div>
    <div class = "knight_armour">
        <div class = "knight_shield">
    <h3>"Harajuku Bike Shop has the best inventory available for bikes! The store always has what I need for my bikes!"</h3>
    <h4>★★★★★</h4>
    <h4>- Jane Doe</h4>
    </div>
    </div>
    <div class = "knight_armour">
        <div class = "knight_shield">
    <h3>"Aaron, Brian, and Justice have one of the best bike shops available! I am a loyal customer to Harajuku Bike Shop!</h3>
    <h4>★★★★★</h4>
    <h4>- Hayato Miyazaki</h4>
    </div>
    </div>
    <div class = "knight_armour">
        <div class = "knight_shield">
            <h3>"This bike shop strives for quality! Highly recommend this bike shop compared to the competition!"</h3>
            <h4>★★★★★</h4>
            <h4>- Akira Hayabusa</h4>
        </div>
        </div>
    </div>
    <footer>
<br>
<center>
<h3>©Copyright 2022 for CSET-180 by Aaron Work, Brian Sanvicente, and Justice Kipp</h3>
<br>
</center>
    </footer>
</body>
</html>