<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Parts-Page.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parts-Page</title>
</head>
<body>
    <center>
        <img src="../static/imagesHarajuku_Final.jpeg" height="175px", width="550px">
        </center>
        <br>
    <header>
        <ul class = "trial">
            <li><a href="Main-Page.html">Home</a></li>
            <li><a href="Purchase.html">Purchase</a></li>
            <li><a href="Parts-Page.html">Parts</a></li>
            <li><a href="Customised-Bikes.html">Customise</a></li>
        </ul>
    </header>
    <br>
    <div class = "cavalier">
        <div class = "cavalier_txt">
            <h1>Replacement Parts</h1>
        </div>
    </div>
    <br>
    <div>
        <center><h1>Wheels</h1></center>
        <br>
        </div>
    <br>
    <div>
        <center><h1>Handlebars</h1></center>
    </div>
    <br>
    <div>
        <center><h1>Frames</h1></center>
    </div>
    <footer>
        <br>
        <center>
        <h3>©Copyright 2022 for CSET-180 by Aaron Work, Brian Sanvicente, and Justice Kipp</h3>
        <br>
        </center>
    </footer>
</body>
</html>