<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bikeshop.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parts-Page</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="Main-Page.html">Home</a></li>
            <li><a href="Purchase.html">Purchase</a></li>
            <li><a href="Parts-Page.html">Parts</a></li>
            <li><a href="Customised-Bikes.html">Customise</a></li>
        </ul>
    </header>
    <div id="itemIn">
        <div id="item">
            <img src="../static/images/BikeButton_Spire_2021XT.png" class="itemImg">
        </div>
        <div id="item">
            <img src="../static/images/BikeButton_Spire_2021XT.png" class="itemImg">
        </div>
        <div id="item">
            <img src="../static/images/BikeButton_Spire_2021XT.png" class="itemImg">
        </div>
        <div id="item">
            <img src="../static/images/BikeButton_Spire_2021XT.png" class="itemImg">
        </div>
        <div id="item">
            <img src="../static/images/BikeButton_Spire_2021XT.png" class="itemImg">
        </div>
        <div id="item">
            <img src="../static/images/BikeButton_Spire_2021XT.png" class="itemImg">
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="Main-Page.html">Home</a></li>
            <li><a href="Purchase.html">Purchase</a></li>
            <li><a href="Parts-Page.html">Parts</a></li>
            <li><a href="Customised-Bikes.html">Customise</a></li>
        </ul>
    </footer>
</body>
</html>