<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Purchase.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
</head>
<body>
    <center>
        <img src="../static/images/Harajuku_Final.jpeg" height="175px", width="550px">
    </center>
        <br>
    <header>
        <ul class = "trial">
            <li><a href="Main-Page.html">Home</a></li>
            <li><a href="Purchase.html">Purchase</a></li>
            <li><a href="Parts-Page.html">Parts</a></li>
            <li><a href="Customised-Bikes.html">Customise</a></li>
        </ul>
    </header>
        <br>
    <div class = "heroes">
        <div class = "heroes_txt">
            <h1>The Harajuku Bike Shop!</h1>
        </div>
    </div>
    <br>
    <div>
        <center>
            <h1>Buy A Bike</h1>
        </center>
    </div>
    <br>
    <div class="contaner">
    <!-- <div class = 'test'> -->
        <div class = 'sword'>
            <div class = 'lance'>
                <h4>Bike #1</h4>
                <img src="../static/images/peak_design_custom.jpg" class = 'tired'>
                <br>
                <h3><em>Exclusive to our store</em></h3>
                <ul>
                    <li>Titanium grip handlebars</li>
                    <li>5 year warranty</li>
                    <li>Carbon Fibre Steel Frame</li>
                </ul>
                <h4>£1099.95</h4>
                <button class = 'practise' name = 'bike' value = 'Buy Custom Bike #5'>Buy Now</button>
                <br>
            </div>
            <br>
        </div>
            <div class = 'sword'>
                <div class = 'lance'>
                    <h3>Bike #2</h3>
                    <img src="../static/images/new_bicycle.jpg" class = "tired">
                    <br>
                    <h4><em>Exclusive to our store</em></h4>
                    <ul>
                        <li>Leather grip handlebars</li>
                        <li>2 year warranty</li>
                        <li>Stainless Steel Frame</li>
                    </ul>
                    <h4>£899.95</h4>
                    <button class = 'practise' name = 'bike' value = 'Buy Custom Bike #5'>Buy Now</button>
                    <br>
                    <br>
                </div>
            </div>
            </div>
            <div class="contaner">
            <div class = 'sword'>
                <div class = 'lance'>
                    <h4>Bike #3</h4>
                    <img src="../static/images/bullseye-monster-ssdk-7.jpg" class = 'tired'>
                    <br>
                    <h3><em>Exclusive to our store</em></h3>
                    <ul>
                        <li>Titanium grip handlebars</li>
                        <li>5 year warranty</li>
                        <li>Carbon Fibre Steel Frame</li>
                    </ul>
                    <h4>£2099.95</h4>
                    <button class = 'practise' name = 'bike' value = 'Buy Custom Bike #5'>Buy Now</button>
                    <br>
                </div>
                <br>
            </div>
                <div class = 'sword'>
                    <div class = 'lance'>
                        <h3>Bike #4</h3>
                        <img src="../static/images/ice-cream-truck-fat-bike-hp-banner-798234_1500x1000.jpg" class = "tired">
                        <br>
                        <h4><em>Exclusive to our store</em></h4>
                        <ul>
                            <li>Leather grip handlebars</li>
                            <li>2 year warranty</li>
                            <li>Stainless Steel Frame</li>
                        </ul>
                        <h4>£999.99</h4>
                        <button class = 'practise' name = 'bike' value = 'Buy Custom Bike #5'>Buy Now</button>
                        <br>
                        <br>
                    </div>
                </div>
                </div>
                <div class="contaner">
                <div class = 'sword'>
                    <div class = 'lance'>
                        <h4>Bike #5</h4>
                        <img src="../static/images/15690-exf-9039-gloss-white-chrome-silver--410x273-high.jpg" class = 'tired'>
                        <br>
                        <h3><em>Exclusive to our store</em></h3>
                        <ul>
                            <li>Titanium grip handlebars</li>
                            <li>5 year warranty</li>
                            <li>Carbon Fibre Steel Frame</li>
                        </ul>
                        <h4>£1999.99</h4>
                        <button class = 'practise' name = 'bike' value = 'Buy Custom Bike #5'>Buy Now</button>
                        <br>
                    </div>
                    <br>
                </div>
                    <div class = 'sword'>
                        <div class = 'lance'>
                            <h3>Bike #6</h3>
                            <img src="../static/images/WFO9RDO5SX01EagleAXSRed.jpg" class = "tired">
                            <br>
                            <h4><em>Exclusive to our store</em></h4>
                            <ul>
                                <li>Leather grip handlebars</li>
                                <li>2 year warranty</li>
                                <li>Stainless Steel Frame</li>
                            </ul>
                            <h4>£799.95</h4>
                            <button class = 'practise' name = 'bike' value = 'Buy Custom Bike #5'>Buy Now</button>
                            <br>
                            <br>
                        </div>
                    </div>
    </div>
        </div>
        <footer>
            <br>
            <center>
            <h3>©Copyright 2022 for CSET-180 by Aaron Work, Brian Sanvicente, and Justice Kipp</h3>
            <br>
            </center>
                </footer>
</body>
</html>