<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="registration.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body id="bgImageLog">
    <div id="logBox">
        <form>
            <h1>Registration</h1>
            <br>
            <p>Create a Username:</p>
            <input type="text" name="user" class= "Hero">
            <br>
            <p>Create a Password:</p>
            <input type="text" name="pasw" id="lastBox" class= "Hero">
            <br>
            <p>Enter a Phone Number:</p>
            <input type="text" name="pasw" id="lastBox" class= "Hero">
            <br>
            <p>Email Address:</p>
            <input type="text" name="pasw" id="lastBox" class= "Hero">
            <br>
            <p>Enter your Address:</p>
            <input type="text" name="pasw" id="lastBox" class= "Hero">
            <br>
            <input type="submit" value="Submit" class= "Hero">
        </form>
     </div>
</body>
</html>
</html>